<!DOCTYPE html>
<html>
<head>
    <title>Trang Chủ</title>
</head>
<body>

<header>
    <h1>Chào mừng bạn đến với trang chủ</h1>
    <nav>
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Dịch vụ</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Giỏ hàng </a></li> 
            <li><a href="/account">Đăng nhập</a></li> <!-- Nút Đăng nhập -->
        </ul>
    </nav>
</header>

<footer>
    <p>&copy; 2023 Nhóm 9</p>
</footer>

</body>
</html>

