<!DOCTYPE html>
<html>
<head>
    <title>Xác minh OTP</title>
</head>
<body>
    <form action="/verifyotp" method="post">
        <h1>Xác minh OTP</h1>
            <label for="otp">Mã OTP:</label>
            <input type="text" id="otp" name="otp" required>
            <br>
            <button type="submit">Xác minh</button>
    </form>
</body>
</html>
